@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
* {
  @apply transition-colors duration-800 ease-in-out;
}





/* Chrome, Safari, Edge */
*::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none; /* hide scrollbar */
}

/* IE, Edge (old) */
* {
  -ms-overflow-style: none; 
}