@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
* {
  @apply transition-colors duration-800 ease-in-out;
}


/* Sidebar specific */
.sidebar .active {
  @apply bg-green-700 text-white; /* Agro default */
}

/* Navbar specific */
.navbar .active {
  @apply underline underline-offset-4;
}

/* Chrome, Safari, Edge */
*::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none; /* hide scrollbar */
}

/* IE, Edge (old) */
* {
  -ms-overflow-style: none; 
}